.header {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  margin: auto;
}
.header .header__search-line {
  width: 200px;
  height: 20px;
  margin: 10px;
  padding: 5px;
}
.header .header__button-search,
.header .header__button-favorites {
  margin: 10px;
  background: #009af3;
  color: #fff;
  border: none;
  width: 70px;
  height: 40px;
}
