.article {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}
.article .article__result-search-api {
  list-style: none;
  padding-left: 0px;
}
.article .article__result-search-api .article__recipe-dish {
  display: grid;
  grid-template-columns: 250px 1fr 100px;
  grid-template-rows: 80px auto auto;
  margin: 10px;
  padding: 10px;
}
.article .article__result-search-api .article__recipe-dish p {
  line-height: 1.5;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
.article .article__result-search-api .article__recipe-dish img {
  min-height: 250px;
  min-width: 250px;
  max-height: 250px;
  max-width: 400px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
}
.article .article__result-search-api .article__recipe-dish .article__button-favorites,
.article .article__result-search-api .article__recipe-dish .article__button-ingredients {
  height: 40px;
  background: #009af3;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}
.article .article__result-search-api .article__recipe-dish .article__button-favorites:hover,
.article .article__result-search-api .article__recipe-dish .article__button-ingredients:hover {
  background-color: #2980B9;
}
.article .article__result-search-api .article__recipe-dish .article__button-favorites {
  width: 70px;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}
.article .article__result-search-api .article__recipe-dish .article__button-ingredients {
  width: 120px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
.article .article__result-search-api .article__recipe-dish .article__ingredients {
  padding: 10px;
  position: relative;
  top: -50px;
  text-align: center;
  background-color: #fff;
  border: 6px solid #666;
  border-radius: 58px;
  box-shadow: 2px 2px 4px #888;
  background: rgba(219, 219, 219, 0.8);
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
.article .article__result-search-api .article__recipe-dish .article__ingredients:before {
  content: " ";
  position: absolute;
  left: -10px;
  bottom: -40px;
  width: 40px;
  height: 40px;
  background-color: #dbdbdb;
  border: 6px solid #666;
  border-radius: 28px;
}
.article .article__result-search-api .article__recipe-dish .article__ingredients:after {
  content: " ";
  position: absolute;
  width: 25px;
  height: 25px;
  left: -20px;
  background-color: #dbdbdb;
  border: 6px solid #666;
  bottom: -60px;
  border-radius: 18px;
}
